.sessions-header {

  .brand-name {
    @extend %lato;
    font-weight: 300;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 10.6px;
    padding: 55px 0 40px;
    color: $gray-darker;
  }

}

.sessions-form {
  width: 320px;
  margin: 0 auto;
}
