<%= render "layouts/site_header" %>

<div class="container">

  <div class="g cards-wrapper">
    <% 9.times do %>
      <div class="g1-3 card">
        <div class="img-wrapper r-1-1">
          <div class="img" style="background-image: url(https://placehold.it/1920x1080);"></div>
        </div>
      </div>
    <% end %>
  </div>

</div>

<%= render "layouts/site_footer" %>
