$color-brand:  hsla(191, 100%, 43%, 1);

$color-black:  hsla(0, 0%, 0%, 1);
$color-white:  hsla(0, 0%, 100%, 1);

$gray-darker:  hsla(0, 0%, 33%, 1);
$gray-dark:    hsla(0, 0%, 44%, 1);
$gray:         hsla(0, 0%, 66%, 1);
$gray-light:   hsla(0, 0%, 88%, 1);
$gray-lighter: hsla(0, 0%, 93%, 1);
